openapi: 3.0.3
info:
  title: Render Public API
  description: |-
    [https://render.com/docs/api](https://render.com/docs/api)

    Contact Support:  
    Name: Render API  
    Email: [support@render.com](mailto:support@render.com)
  version: 1.0.0
  contact: { }
servers:
  - url: https://api.render.com/v1
paths:
  /owners:
    get:
      tags:
        - Owners
      summary: List authorized users and teams
      description: >-
        [https://api-docs.render.com/reference/get-owners](https://api-docs.render.com/reference/get-owners)
      operationId: listAuthorizedUsersAndTeams
      parameters:
        - name: name
          in: query
          schema:
            type: string
            example: sed aliqua qui anim
        - name: email
          in: query
          schema:
            type: string
            example: sed aliqua qui anim
        - name: cursor
          in: query
          schema:
            type: string
            example: Lorem amet sin
          description: Cursor to begin retrieving entries for this query
        - name: limit
          in: query
          schema:
            type: string
            example: '20'
          description: Max number of items that can be returned
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    cursor:
                      type: string
                      example: incididunt labore occaecat eiusmod dolore
                    owner:
                      type: object
                      properties:
                        email:
                          type: string
                          example: quis
                        id:
                          type: string
                          example: tempor labore voluptate velit dolore
                        name:
                          type: string
                          example: amet enim qui adipisicing
                        type:
                          type: string
                          example: user
                example:
                  - cursor: incididunt labore occaecat eiusmod dolore
                    owner:
                      email: quis
                      id: tempor labore voluptate velit dolore
                      name: amet enim qui adipisicing
                      type: user
                  - cursor: consectetur ut
                    owner:
                      email: occa
                      id: anim ea aute
                      name: enim nostrud
                      type: team
              examples:
                OK:
                  value:
                    - cursor: incididunt labore occaecat eiusmod dolore
                      owner:
                        email: quis
                        id: tempor labore voluptate velit dolore
                        name: amet enim qui adipisicing
                        type: user
                    - cursor: consectetur ut
                      owner:
                        email: occa
                        id: anim ea aute
                        name: enim nostrud
                        type: team
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Authorization information is missing or invalid.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '406':
          description: >-
            Unable to generate preferred media types as specified by Accept
            request header.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Unable to generate preferred media types as specified by Accept request header.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '429':
          description: Rate limit has been surpassed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Rate limit has been surpassed.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '500':
          description: An unexpected server error has occurred.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                An unexpected server error has occurred.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '503':
          description: Server currently unavailable.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Server currently unavailable.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
  /owners/{ownerId}:
    get:
      tags:
        - Owners
      summary: Retrieve user or team
      description: >-
        [https://api-docs.render.com/reference/get-owner](https://api-docs.render.com/reference/get-owner)
      operationId: retrieveUserOrTeam
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  email:
                    type: string
                    example: id adipisicing Excepteur
                  id:
                    type: string
                    example: nisi aute veniam elit
                  name:
                    type: string
                    example: labore
                  type:
                    type: string
                    example: user
              examples:
                OK:
                  value:
                    email: id adipisicing Excepteur
                    id: nisi aute veniam elit
                    name: labore
                    type: user
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Authorization information is missing or invalid.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '404':
          description: Unable to find the requested resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Unable to find the requested resource.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '406':
          description: >-
            Unable to generate preferred media types as specified by Accept
            request header.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Unable to generate preferred media types as specified by Accept request header.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '410':
          description: The requested resource is no longer available.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                The requested resource is no longer available.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '429':
          description: Rate limit has been surpassed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Rate limit has been surpassed.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '500':
          description: An unexpected server error has occurred.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                An unexpected server error has occurred.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '503':
          description: Server currently unavailable.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Server currently unavailable.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
    parameters:
      - name: ownerId
        in: path
        required: true
        schema:
          type: string
          example: Lorem amet sin
        description: (Required) The ID of the user or team
  /services:
    get:
      tags:
        - Services
      summary: List services
      description: >-
        [https://api-docs.render.com/reference/get-services](https://api-docs.render.com/reference/get-services)
      operationId: listServices
      parameters:
        - name: name
          in: query
          schema:
            type: string
            example: sed aliqua qui anim,do
          description: Filter for the names of services
        - name: type
          in: query
          schema:
            type: string
            example: web_service,cron_job
          description: Filter for types of services
        - name: env
          in: query
          schema:
            type: string
            example: rust,node
          description: Filter for environments of services
        - name: region
          in: query
          schema:
            type: string
            example: frankfurt,frankfurt
          description: Filter for regions of services
        - name: suspended
          in: query
          schema:
            type: string
            example: suspended,not_suspended
          description: Filter services based on whether they're suspended or not suspended
        - name: createdBefore
          in: query
          schema:
            type: string
            example: '2021-06-17T08:15:30Z'
          description: >-
            Filter for services created before a certain time (specified as an
            ISO 8601 timestamp)
        - name: createdAfter
          in: query
          schema:
            type: string
            example: '2021-02-17T08:15:30Z'
          description: >-
            Filter for services created after a certain time (specified as an
            ISO 8601 timestamp)
        - name: updatedBefore
          in: query
          schema:
            type: string
            example: '2021-06-17T08:15:30Z'
          description: >-
            Filter for services updated before a certain time (specified as an
            ISO 8601 timestamp)
        - name: updatedAfter
          in: query
          schema:
            type: string
            example: '2021-02-17T08:15:30Z'
          description: >-
            Filter for services updated after a certain time (specified as an
            ISO 8601 timestamp)
        - name: ownerId
          in: query
          schema:
            type: string
            example: sed aliqua qui anim,do
          description: >-
            The ID of the owner (team or personal user) whose resources should
            be returned
        - name: cursor
          in: query
          schema:
            type: string
            example: Lorem amet sin
          description: Cursor to begin retrieving entries for this query
        - name: limit
          in: query
          schema:
            type: string
            example: '20'
          description: Max number of items that can be returned
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceCursor'
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Authorization information is missing or invalid.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '406':
          description: >-
            Unable to generate preferred media types as specified by Accept
            request header.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Unable to generate preferred media types as specified by Accept request header.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '429':
          description: Rate limit has been surpassed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Rate limit has been surpassed.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '500':
          description: An unexpected server error has occurred.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                An unexpected server error has occurred.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '503':
          description: Server currently unavailable.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Server currently unavailable.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
    post:
      tags:
        - Services
      summary: Create service
      description: >-
        [https://api-docs.render.com/reference/create-service](https://api-docs.render.com/reference/create-service)
      operationId: createService
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                autoDeploy:
                  type: string
                  example: 'yes'
                branch:
                  type: string
                  example: Excepteur mollit in
                envVars:
                  type: array
                  items:
                    type: object
                    properties:
                      key:
                        type: string
                        example: eu
                      value:
                        type: string
                        example: dolor
                  example:
                    - key: eu
                      value: dolor
                    - key: minim nisi voluptate non
                      value: vol
                name:
                  type: string
                  example: cillum ipsum
                ownerId:
                  type: string
                  example: iru
                repo:
                  type: string
                  example: https://github.com/render-examples/flask-hello-world
                secretFiles:
                  type: array
                  items:
                    type: object
                    properties:
                      contents:
                        type: string
                        example: ipsum consequat dolor dolor
                      name:
                        type: string
                        example: ad ex Duis
                  example:
                    - contents: ipsum consequat dolor dolor
                      name: ad ex Duis
                    - contents: exercitation ut Duis ex
                      name: sunt paria
                serviceDetails:
                  type: object
                  properties:
                    buildCommand:
                      type: string
                      example: dolore ex
                    headers:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            example: deserunt
                          path:
                            type: string
                            example: enim Excepteur p
                          value:
                            type: string
                            example: commodo nisi proident ad velit
                      example:
                        - name: deserunt
                          path: enim Excepteur p
                          value: commodo nisi proident ad velit
                        - name: exercitation dolor minim nostrud esse
                          path: labore vel
                          value: Lorem occaecat tempor
                    publishPath:
                      type: string
                      example: public
                    pullRequestPreviewsEnabled:
                      type: string
                      example: 'no'
                    routes:
                      type: array
                      items:
                        type: object
                        properties:
                          destination:
                            type: string
                            example: dolor
                          source:
                            type: string
                            example: sed
                          type:
                            type: string
                            example: redirect
                      example:
                        - destination: dolor
                          source: sed
                          type: redirect
                        - destination: sit culpa a
                          source: proident aute irure veniam occaecat
                          type: redirect
                type:
                  type: string
                  example: web_service
            example:
              autoDeploy: 'yes'
              branch: Excepteur mollit in
              envVars:
                - key: eu
                  value: dolor
                - key: minim nisi voluptate non
                  value: vol
              name: cillum ipsum
              ownerId: iru
              repo: https://github.com/render-examples/flask-hello-world
              secretFiles:
                - contents: ipsum consequat dolor dolor
                  name: ad ex Duis
                - contents: exercitation ut Duis ex
                  name: sunt paria
              serviceDetails:
                buildCommand: dolore ex
                headers:
                  - name: deserunt
                    path: enim Excepteur p
                    value: commodo nisi proident ad velit
                  - name: exercitation dolor minim nostrud esse
                    path: labore vel
                    value: Lorem occaecat tempor
                publishPath: public
                pullRequestPreviewsEnabled: 'no'
                routes:
                  - destination: dolor
                    source: sed
                    type: redirect
                  - destination: sit culpa a
                    source: proident aute irure veniam occaecat
                    type: redirect
              type: web_service
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  deployId:
                    type: string
                    example: nostrud qui Excepteur commodo
                  service:
                    type: object
                    properties:
                      autoDeploy:
                        type: string
                        example: 'yes'
                      branch:
                        type: string
                        example: Excepteur
                      createdAt:
                        type: string
                        example: '1999-10-21T15:43:09.576Z'
                      id:
                        type: string
                        example: ea veniam
                      name:
                        type: string
                        example: e
                      notifyOnFail:
                        type: string
                        example: default
                      ownerId:
                        type: string
                        example: laborum mollit
                      repo:
                        type: string
                        example: https://github.com/render-examples/flask-hello-world
                      serviceDetails:
                        type: object
                        properties:
                          buildCommand:
                            type: string
                            example: ut
                          parentServer:
                            type: object
                            properties:
                              id:
                                type: string
                                example: es
                              name:
                                type: string
                                example: 'sunt eu do amet '
                          publishPath:
                            type: string
                            example: ipsum ut
                          pullRequestPreviewsEnabled:
                            type: string
                            example: 'no'
                          url:
                            type: string
                            example: officia ut Excepteur culpa
                      slug:
                        type: string
                        example: nisi tempor dolore
                      suspended:
                        type: string
                        example: not_suspended
                      suspenders:
                        type: array
                        items:
                          type: string
                          example: admin
                        example:
                          - admin
                          - unknown
                      type:
                        type: string
                        example: private_service
                      updatedAt:
                        type: string
                        example: '1988-04-27T23:28:54.313Z'
              examples:
                Created:
                  value:
                    deployId: nostrud qui Excepteur commodo
                    service:
                      autoDeploy: 'yes'
                      branch: Excepteur
                      createdAt: '1999-10-21T15:43:09.576Z'
                      id: ea veniam
                      name: e
                      notifyOnFail: default
                      ownerId: laborum mollit
                      repo: https://github.com/render-examples/flask-hello-world
                      serviceDetails:
                        buildCommand: ut
                        parentServer:
                          id: es
                          name: 'sunt eu do amet '
                        publishPath: ipsum ut
                        pullRequestPreviewsEnabled: 'no'
                        url: officia ut Excepteur culpa
                      slug: nisi tempor dolore
                      suspended: not_suspended
                      suspenders:
                        - admin
                        - unknown
                      type: private_service
                      updatedAt: '1988-04-27T23:28:54.313Z'
        '400':
          description: The request could not be understood by the server.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                The request could not be understood by the server.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Authorization information is missing or invalid.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '402':
          description: You must enter payment information to perform this request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                You must enter payment information to perform this request.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '406':
          description: >-
            Unable to generate preferred media types as specified by Accept
            request header.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Unable to generate preferred media types as specified by Accept request header.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '409':
          description: The current state of the resource conflicts with this request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                The current state of the resource conflicts with this request.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '429':
          description: Rate limit has been surpassed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Rate limit has been surpassed.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '500':
          description: An unexpected server error has occurred.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                An unexpected server error has occurred.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '503':
          description: Server currently unavailable.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Server currently unavailable.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
  /services/{serviceId}:
    get:
      tags:
        - Services
      summary: Retrieve service
      description: >-
        [https://api-docs.render.com/reference/get-service](https://api-docs.render.com/reference/get-service)
      operationId: retrieveService
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Authorization information is missing or invalid.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '403':
          description: You do not have permissions for the requested resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                You do not have permissions for the requested resource.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '404':
          description: Unable to find the requested resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Unable to find the requested resource.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '406':
          description: >-
            Unable to generate preferred media types as specified by Accept
            request header.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Unable to generate preferred media types as specified by Accept request header.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '410':
          description: The requested resource is no longer available.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                The requested resource is no longer available.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '429':
          description: Rate limit has been surpassed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Rate limit has been surpassed.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '500':
          description: An unexpected server error has occurred.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                An unexpected server error has occurred.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '503':
          description: Server currently unavailable.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Server currently unavailable.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
    delete:
      tags:
        - Services
      summary: Delete service
      description: >-
        [https://api-docs.render.com/reference/delete-service](https://api-docs.render.com/reference/delete-service)
      operationId: deleteService
      responses:
        '204':
          description: Service deleted
          content:
            text/plain:
              examples:
                Service deleted:
                  value: ''
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Authorization information is missing or invalid.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '403':
          description: You do not have permissions for the requested resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                You do not have permissions for the requested resource.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '404':
          description: Unable to find the requested resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Unable to find the requested resource.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '406':
          description: >-
            Unable to generate preferred media types as specified by Accept
            request header.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Unable to generate preferred media types as specified by Accept request header.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '410':
          description: The requested resource is no longer available.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                The requested resource is no longer available.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '429':
          description: Rate limit has been surpassed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Rate limit has been surpassed.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '500':
          description: An unexpected server error has occurred.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                An unexpected server error has occurred.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '503':
          description: Server currently unavailable.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Server currently unavailable.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
    patch:
      tags:
        - Services
      summary: Update service
      description: >-
        [https://api-docs.render.com/reference/update-service](https://api-docs.render.com/reference/update-service)
      operationId: updateService
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                autoDeploy:
                  type: string
                  example: 'yes'
                branch:
                  type: string
                  example: amet dolore officia quis est
                name:
                  type: string
                  example: nisi minim et
                serviceDetails:
                  type: object
                  properties:
                    buildCommand:
                      type: string
                      example: ex qui
                    publishPath:
                      type: string
                      example: dolor laboris Excepteur fugiat
                    pullRequestPreviewsEnabled:
                      type: string
                      example: 'no'
            example:
              autoDeploy: 'yes'
              branch: amet dolore officia quis est
              name: nisi minim et
              serviceDetails:
                buildCommand: ex qui
                publishPath: dolor laboris Excepteur fugiat
                pullRequestPreviewsEnabled: 'no'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
        '400':
          description: The request could not be understood by the server.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                The request could not be understood by the server.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Authorization information is missing or invalid.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '402':
          description: You must enter payment information to perform this request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                You must enter payment information to perform this request.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '403':
          description: You do not have permissions for the requested resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                You do not have permissions for the requested resource.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '404':
          description: Unable to find the requested resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Unable to find the requested resource.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '406':
          description: >-
            Unable to generate preferred media types as specified by Accept
            request header.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Unable to generate preferred media types as specified by Accept request header.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '409':
          description: The current state of the resource conflicts with this request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                The current state of the resource conflicts with this request.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '410':
          description: The requested resource is no longer available.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                The requested resource is no longer available.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '429':
          description: Rate limit has been surpassed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Rate limit has been surpassed.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '500':
          description: An unexpected server error has occurred.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                An unexpected server error has occurred.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '503':
          description: Server currently unavailable.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Server currently unavailable.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
    parameters:
      - name: serviceId
        in: path
        required: true
        schema:
          type: string
          example: Lorem amet sin
        description: (Required) The ID of the service
  /services/{serviceId}/env-vars:
    get:
      tags:
        - Services
      summary: Retrieve environment variables
      description: >-
        [https://api-docs.render.com/reference/get-env-vars-for-service](https://api-docs.render.com/reference/get-env-vars-for-service)
      operationId: retrieveEnvironmentVariables
      parameters:
        - name: cursor
          in: query
          schema:
            type: string
            example: Lorem amet sin
          description: Cursor to begin retrieving entries for this query
        - name: limit
          in: query
          schema:
            type: string
            example: '20'
          description: Max number of items that can be returned
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    cursor:
                      type: string
                      example: magna aliquip cillum in
                    envVar:
                      type: object
                      properties:
                        key:
                          type: string
                          example: eu mollit reprehenderit nulla
                        value:
                          type: string
                          example: ad
                example:
                  - cursor: magna aliquip cillum in
                    envVar:
                      key: eu mollit reprehenderit nulla
                      value: ad
                  - cursor: mollit do nulla non
                    envVar:
                      key: fugiat non ut tempor
                      value: vol
              examples:
                OK:
                  value:
                    - cursor: magna aliquip cillum in
                      envVar:
                        key: eu mollit reprehenderit nulla
                        value: ad
                    - cursor: mollit do nulla non
                      envVar:
                        key: fugiat non ut tempor
                        value: vol
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Authorization information is missing or invalid.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '403':
          description: You do not have permissions for the requested resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                You do not have permissions for the requested resource.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '404':
          description: Unable to find the requested resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Unable to find the requested resource.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '406':
          description: >-
            Unable to generate preferred media types as specified by Accept
            request header.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Unable to generate preferred media types as specified by Accept request header.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '410':
          description: The requested resource is no longer available.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                The requested resource is no longer available.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '429':
          description: Rate limit has been surpassed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Rate limit has been surpassed.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '500':
          description: An unexpected server error has occurred.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                An unexpected server error has occurred.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '503':
          description: Server currently unavailable.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Server currently unavailable.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
    put:
      tags:
        - Services
      summary: Update environment variables
      description: >-
        [https://api-docs.render.com/reference/update-env-vars-for-service](https://api-docs.render.com/reference/update-env-vars-for-service)
      operationId: updateEnvironmentVariables
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  key:
                    type: string
                    example: aute cupidatat
                  value:
                    type: string
                    example: esse
              example:
                - key: aute cupidatat
                  value: esse
                - key: officia esse nostrud Excepteur
                  value: Lorem
            example:
              - key: aute cupidatat
                value: esse
              - key: officia esse nostrud Excepteur
                value: Lorem
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EnvVarCursor'
        '400':
          description: The request could not be understood by the server.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                The request could not be understood by the server.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Authorization information is missing or invalid.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '403':
          description: You do not have permissions for the requested resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                You do not have permissions for the requested resource.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '404':
          description: Unable to find the requested resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Unable to find the requested resource.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '406':
          description: >-
            Unable to generate preferred media types as specified by Accept
            request header.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Unable to generate preferred media types as specified by Accept request header.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '410':
          description: The requested resource is no longer available.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                The requested resource is no longer available.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '429':
          description: Rate limit has been surpassed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Rate limit has been surpassed.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '500':
          description: An unexpected server error has occurred.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                An unexpected server error has occurred.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '503':
          description: Server currently unavailable.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Server currently unavailable.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
    parameters:
      - name: serviceId
        in: path
        required: true
        schema:
          type: string
          example: Lorem amet sin
        description: (Required) The ID of the service
  /services/{serviceId}/headers:
    get:
      tags:
        - Services
      summary: Retrieve headers
      description: >-
        [https://api-docs.render.com/reference/get-headers](https://api-docs.render.com/reference/get-headers)
      operationId: retrieveHeaders
      parameters:
        - name: path
          in: query
          schema:
            type: string
            example: sed aliqua qui anim,do
          description: Filter for specific paths that headers apply to
        - name: name
          in: query
          schema:
            type: string
            example: sed aliqua qui anim,do
          description: Filter for header names
        - name: value
          in: query
          schema:
            type: string
            example: sed aliqua qui anim,do
          description: Filter for header values
        - name: cursor
          in: query
          schema:
            type: string
            example: Lorem amet sin
          description: Cursor to begin retrieving entries for this query
        - name: limit
          in: query
          schema:
            type: string
            example: '20'
          description: Max number of items that can be returned
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    cursor:
                      type: string
                      example: officia dolore Excepteur
                    headers:
                      type: object
                      properties:
                        name:
                          type: string
                          example: deserunt mollit enim nostrud
                        path:
                          type: string
                          example: in officia
                        value:
                          type: string
                          example: ut ea
                example:
                  - cursor: officia dolore Excepteur
                    headers:
                      name: deserunt mollit enim nostrud
                      path: in officia
                      value: ut ea
                  - cursor: Lorem reprehenderit
                    headers:
                      name: ullamco amet in
                      path: aliquip
                      value: ali
              examples:
                OK:
                  value:
                    - cursor: officia dolore Excepteur
                      headers:
                        name: deserunt mollit enim nostrud
                        path: in officia
                        value: ut ea
                    - cursor: Lorem reprehenderit
                      headers:
                        name: ullamco amet in
                        path: aliquip
                        value: ali
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Authorization information is missing or invalid.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '403':
          description: You do not have permissions for the requested resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                You do not have permissions for the requested resource.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '404':
          description: Unable to find the requested resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Unable to find the requested resource.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '406':
          description: >-
            Unable to generate preferred media types as specified by Accept
            request header.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Unable to generate preferred media types as specified by Accept request header.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '410':
          description: The requested resource is no longer available.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                The requested resource is no longer available.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '429':
          description: Rate limit has been surpassed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Rate limit has been surpassed.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '500':
          description: An unexpected server error has occurred.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                An unexpected server error has occurred.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '503':
          description: Server currently unavailable.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Server currently unavailable.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
    parameters:
      - name: serviceId
        in: path
        required: true
        schema:
          type: string
          example: Lorem amet sin
        description: (Required) The ID of the service
  /services/{serviceId}/routes:
    get:
      tags:
        - Services
      summary: Retrieve redirect and rewrite rules
      description: >-
        [https://api-docs.render.com/reference/get-routes](https://api-docs.render.com/reference/get-routes)
      operationId: retrieveRedirectAndRewriteRules
      parameters:
        - name: type
          in: query
          schema:
            type: string
            example: redirect,redirect
          description: Filter for the type of route rule
        - name: source
          in: query
          schema:
            type: string
            example: sed aliqua qui anim,do
          description: Filter for the source path of the route
        - name: destination
          in: query
          schema:
            type: string
            example: sed aliqua qui anim,do
          description: Filter for the destination path of the route
        - name: cursor
          in: query
          schema:
            type: string
            example: Lorem amet sin
          description: Cursor to begin retrieving entries for this query
        - name: limit
          in: query
          schema:
            type: string
            example: '20'
          description: Max number of items that can be returned
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    cursor:
                      type: string
                      example: anim labore
                    routes:
                      type: object
                      properties:
                        destination:
                          type: string
                          example: in occaecat proident qui incididunt
                        source:
                          type: string
                          example: fugiat Lorem dolor
                        type:
                          type: string
                          example: rewrite
                example:
                  - cursor: anim labore
                    routes:
                      destination: in occaecat proident qui incididunt
                      source: fugiat Lorem dolor
                      type: rewrite
                  - cursor: cillum reprehenderit esse
                    routes:
                      destination: ad sint quis
                      source: anim dolor dolore
                      type: redirect
              examples:
                OK:
                  value:
                    - cursor: anim labore
                      routes:
                        destination: in occaecat proident qui incididunt
                        source: fugiat Lorem dolor
                        type: rewrite
                    - cursor: cillum reprehenderit esse
                      routes:
                        destination: ad sint quis
                        source: anim dolor dolore
                        type: redirect
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Authorization information is missing or invalid.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '403':
          description: You do not have permissions for the requested resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                You do not have permissions for the requested resource.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '404':
          description: Unable to find the requested resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Unable to find the requested resource.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '406':
          description: >-
            Unable to generate preferred media types as specified by Accept
            request header.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Unable to generate preferred media types as specified by Accept request header.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '410':
          description: The requested resource is no longer available.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                The requested resource is no longer available.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '429':
          description: Rate limit has been surpassed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Rate limit has been surpassed.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '500':
          description: An unexpected server error has occurred.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                An unexpected server error has occurred.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '503':
          description: Server currently unavailable.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Server currently unavailable.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
    parameters:
      - name: serviceId
        in: path
        required: true
        schema:
          type: string
          example: Lorem amet sin
        description: (Required) The ID of the service
  /services/{serviceId}/suspend:
    post:
      tags:
        - Services
      summary: Suspend service
      description: >-
        [https://api-docs.render.com/reference/suspend-service-1](https://api-docs.render.com/reference/suspend-service-1)
      operationId: suspendService
      responses:
        '202':
          description: Service suspended successfully
          content:
            text/plain:
              examples:
                Service suspended successfully:
                  value: ''
        '400':
          description: The request could not be understood by the server.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                The request could not be understood by the server.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Authorization information is missing or invalid.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '403':
          description: You do not have permissions for the requested resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                You do not have permissions for the requested resource.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '404':
          description: Unable to find the requested resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Unable to find the requested resource.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '406':
          description: >-
            Unable to generate preferred media types as specified by Accept
            request header.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Unable to generate preferred media types as specified by Accept request header.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '410':
          description: The requested resource is no longer available.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                The requested resource is no longer available.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '429':
          description: Rate limit has been surpassed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Rate limit has been surpassed.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '500':
          description: An unexpected server error has occurred.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                An unexpected server error has occurred.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '503':
          description: Server currently unavailable.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Server currently unavailable.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
    parameters:
      - name: serviceId
        in: path
        required: true
        schema:
          type: string
          example: Lorem amet sin
        description: (Required) The ID of the service
  /services/{serviceId}/resume:
    post:
      tags:
        - Services
      summary: Resume service
      description: >-
        [https://api-docs.render.com/reference/resume-service-1](https://api-docs.render.com/reference/resume-service-1)
      operationId: resumeService
      responses:
        '202':
          description: Service resumed successfully
          content:
            text/plain:
              examples:
                Service resumed successfully:
                  value: ''
        '400':
          description: The request could not be understood by the server.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                The request could not be understood by the server.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Authorization information is missing or invalid.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '403':
          description: You do not have permissions for the requested resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                You do not have permissions for the requested resource.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '404':
          description: Unable to find the requested resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Unable to find the requested resource.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '406':
          description: >-
            Unable to generate preferred media types as specified by Accept
            request header.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Unable to generate preferred media types as specified by Accept request header.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '410':
          description: The requested resource is no longer available.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                The requested resource is no longer available.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '429':
          description: Rate limit has been surpassed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Rate limit has been surpassed.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '500':
          description: An unexpected server error has occurred.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                An unexpected server error has occurred.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '503':
          description: Server currently unavailable.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                Server currently unavailable.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
    parameters:
      - name: serviceId
        in: path
        required: true
        schema:
          type: string
          example: Lorem amet sin
        description: (Required) The ID of the service
  /services/{serviceId}/scale:
    post:
      tags:
        - Services
      summary: Scale service to desired number of instances
      description: >-
        [https://api-docs.render.com/reference/scale-service](https://api-docs.render.com/reference/scale-service)
      operationId: scaleServiceToDesiredNumberOfInstances
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                numInstances:
                  type: number
                  example: 3
            example:
              numInstances: 3
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  commit:
                    type: object
                    properties:
                      createdAt:
                        type: string
                        example: '1976-01-22T15:20:29.246Z'
                      id:
                        type: string
                        example: incididunt in deserunt aliquip exerc
                      message:
                        type: string
                        example: aliquip non dolore
                  createdAt:
                    type: string
                    example: '1969-09-01T14:51:32.931Z'
                  finishedAt:
                    type: string
                    example: '1959-01-25T18:23:55.820Z'
                  id:
                    type: string
                    example: officia ut dolor
                  status:
                    type: string
                    example: created
                  updatedAt:
                    type: string
                    example: '1980-10-29T06:36:55.491Z'
              examples:
                OK:
                  value:
                    commit:
                      createdAt: '1976-01-22T15:20:29.246Z'
                      id: incididunt in deserunt aliquip exerc
                      message: aliquip non dolore
                    createdAt: '1969-09-01T14:51:32.931Z'
                    finishedAt: '1959-01-25T18:23:55.820Z'
                    id: officia ut dolor
                    status: created
                    updatedAt: '1980-10-29T06:36:55.491Z'
        '400':
          description: The request could not be understood by the server.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
                    example: sunt Excepteur deserunt dolor
              examples:
                The request could not be understood by the server.:
                  value:
                    id: dolor
                    message: sunt Excepteur deserunt dolor
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: dolor
                  message:
                    type: string
[...]
